@import "~bulma/sass/utilities/_all";

$theme: rgba(0, 40, 71, 100);

$primary: #002949;
$primary-invert: findColorInvert($primary);
$light: #fbfbfb;
$light-invert: $theme;

$size-1: 2.25rem;
$size-2: 2rem;
$size-3: 1.65rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1.0rem;
$size-7: 0.75rem;
$size-8: 0.5rem;
$size-normal: inherit;

$text: #002949;

$body-color: #002949;
$body-size: 0.95em;
$body-family: "Source Sans Pro", sans-serif;
$body-background-color: #fbfbfb;

$radius: 0px;
$radius-small: 0px;
$radius-large: 0px;
$radius-rounded: 290486px;

$control-radius-small: 0px;
$control-radius: 4px;
$control-radius-large: 4px;

$gap: 64px;
$column-gap: 0.8rem;

$label-weight: 400;
$input-border-color: $primary;

$card-header: #f0f0f0;
$navbar-height: 3.5rem;
$footer-padding: 3rem 1.5rem 3rem;
$button-background-color: rgba(0, 40, 71, 0);
$button-color: $theme;
$button-border-color: $theme;
$button-hover-color:	#ffffff;
$button-hover-border-color: $theme;
$button-hover-background-color: $theme;
$button-active-color: #ffffff;
$button-active-background-color: darken($theme, 4%);

$dark: #0c3352;
$dark-invert: #ffffff;

$light: #5489b6;
$light-invert: #ffffff;

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;