.card > .card-header {
  max-height: $column-gap * 4;
  margin-bottom: 1px;
  position: relative;
  box-shadow: none;
  color: $text;

  &::after {
    content: '';
    position: absolute;
    left: $column-gap;
    right: $column-gap;
    top: 100%;
    height: 1px;
    background-color: $background;
  }

  > .card-header-title {
    padding-top: $column-gap;
    padding-bottom: $column-gap / 2;
    padding-left: $column-gap;
    padding-right: $column-gap;
    font-weight: 600;
    color: $text;
  }

  &.has-big-header {
    &::after {
      left: $column-gap * 1.5;
      right: $column-gap * 1.5;
    }
  
    > .card-header-title {
      padding-left: $column-gap * 1.5;
      padding-right: $column-gap * 1.5;
    }
  }
}