@keyframes on-appear-inline-edit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inline-edit {
  display: flex;
  justify-items: stretch;

  & > .inline-edit-value {
    display: inline-block;
    transition: border 0.2s;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: $radius;
    width: 100%;
    padding: 0.6rem 0.7rem;
    animation: on-appear-inline-edit 0.2s ease-in-out forwards;

    .inline-edit-value-edit {
      cursor: pointer;
      transition: opacity 0.2s;
      pointer-events: none;
      opacity: 0;
    }

    &:hover {
      border: $table-cell-border;
      .inline-edit-value-edit {
        opacity: 1;
        pointer-events: all;

        &:hover {
          opacity: 0.67;
        }
  
        &:active {
          opacity: 0.4;
        }
      }
    }
  }

  & > .inline-edit-input {
    display: none;
    overflow: hidden;
    color: #ffffff;
    border-radius: $radius;
    background-color: $primary;
    box-shadow: 0 2px 2px 0 rgba(7,22,79,0.09), 0 4px 4px 0 rgba(7,22,79,0.01), 0 8px 8px 0 rgba(7,22,79,0.12), 0 16px 16px 0 rgba(7,22,79,0.1), 0 32px 32px 0 rgba(7,22,79,0.12);
    animation: on-appear-inline-edit 0.2s ease-in-out forwards;

    .inline-edit-input-control {
      padding: 0.6rem 0.7rem;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: inherit;
      color: inherit;
      width: 100%;

      &::placeholder {
        opacity: 0.67;
        color: inherit;
      }
    }

    .inline-edit-input-save {
      padding: 0.6rem 0.7rem;
      transition: opacity 0.2s;
      opacity: 0.67;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
      font-size: 0.7em;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &.is-editing {
    & > .inline-edit-value {
      display: none;
    }
  
    & > .inline-edit-input {
      display: inline-block;
    }
  }
}