.navbar {
  border-bottom: 3px solid $body-color;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  background-color: #fff;
  color: $text;
  transition: min-height 300ms;

  .navbar-item {
    text-transform: uppercase;
    color: $text;
    transition: box-shadow 300ms;
    box-shadow: inset 0 0px 0px 0px rgba(0, 41, 73, 0.4);

    &:hover, &:focus {
      box-shadow: inset 0 -3px 0px 0px rgba(0, 41, 73, 0.4);
    }

    &.is-active {
      box-shadow: inset 0 -3px 0px 0px rgba(0, 41, 73, 0.5);
    }
  }

  &.is-large-height {
    min-height: 6.5rem;
  }
}

.has-navbar-fixed-top {
  transition: padding-top 300ms;
}

.has-navbar-fixed-top.is-large-height {
  padding-top: 6.5rem;
};