@media screen and (max-width: 768px) {
  .b-table .table.has-mobile-cards tr {
    box-shadow: none;

    &:not(:last-child) {
      margin-bottom: 0;
      border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    }
  }
}

.b-table {
  .table-wrapper {
    margin-bottom: 0;

    & + .level {
      padding-left: $column-gap;
      padding-right: $column-gap;
      padding-top: $column-gap;
      padding-bottom: $column-gap;
    }

    .table {
      background-color: transparent;

      .detail {
        background-color: transparent;
        box-shadow: none;
        td {
          padding: 0;
          .detail-container {
            padding: 0;
          }
        }
      }
    }
  }
}

.b-table.no-padding {
  td {
    padding: 0;
  }
}