.gl-form-container {
  padding: $column-gap * 2;
}

.gl-form-btn {
  min-width: 7.5rem;
}

.smooth-dnd-draggable-wrapper {
  overflow: visible !important;
}

.smooth-dnd-drop-preview-constant-class:not(:first-child) {
  margin-top: $column-gap * 2;
}