.gl-form-margin-top {
  margin-top: $column-gap * 2;
}

.gl-ctrl-margin-left {
  margin-left: $column-gap;
}

.gl-layout-margin {
  margin-top: $column-gap * 4;
  margin-left: $column-gap * 2;
  margin-right: $column-gap * 2;
  margin-bottom: $column-gap * 4;
}

.font-size-0 {
  font-size: 0;
}